In [122]:
import tabula
import numpy as np
import pandas as pd

# Read PDF into a list of DataFrame
dfs = tabula.read_pdf(r'C:\Users\robert\Documents\GitHub\python_code_portfolio\2023-annual-report.pdf', pages='11')

#print(dfs)
df1 =dfs[0]

df1.reset_index(drop=True)

df1.fillna(0)


df1.drop('Unnamed: 0', axis=1 ,inplace=True)

df1['2023'] = df1['2023'].str.replace(',', '')
df1['2022'] = df1['2022'].str.replace(',', '')
df1['2021'] = df1['2021'].str.replace(',', '')
df1['2023'] = df1['2023'].str.replace('.', '')
df1['2022'] = df1['2022'].str.replace('.', '')
df1['2021'] = df1['2021'].str.replace('.', '')
df1['2023'] = df1['2023'].str.replace('$', '')
df1['2022'] = df1['2022'].str.replace('$', '')
df1['2021'] = df1['2021'].str.replace('$', '')
df1['2023'] = df1['2023'].str.replace('%', '')
df1['2022'] = df1['2022'].str.replace('%', '')
df1['2021'] = df1['2021'].str.replace('%', '')
df1['2023'] = df1['2023'].str.replace('(', '-')
df1['2022'] = df1['2022'].str.replace('(', '-')
df1['2021'] = df1['2021'].str.replace('(', '-')
df1['2023'] = df1['2023'].str.replace(')', '')
df1['2022'] = df1['2022'].str.replace(')', '')
df1['2021'] = df1['2021'].str.replace(')', '')
# Convert the columns to a numeric type
df1['2023'] = pd.to_numeric(df1['2023'])
df1['2022'] = pd.to_numeric(df1['2022'])
df1['2021'] = pd.to_numeric(df1['2021'])

cols = ['2023','2022','2021']




df1['Sum_of_row'] = df1[cols].sum(axis=1)
df1['percent_change']= df1['2023'].pct_change(periods=2)
df1.head(20)
#print(df1.columns)
#print(df1)


# Now you can treat dfs as a list of DataFrames and process them accordingly
#for df in df:
 #   print(df)

C:\Users\robert\AppData\Local\Temp\ipykernel_17628\174974569.py:47: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df1['percent_change']= df1['2023'].pct_change(periods=2)

,"$ and shares outstanding in millions, except per share amounts",2023,2022,2021,Sum_of_row,percent_change
0,SELECTED INCOME STATEMENT DATA,NaN,NaN,NaN,0.0,NaN
1,Total revenue,82597.0,74368.0,79166.0,236131.0,NaN
2,Noninterest expense,55562.0,57205.0,53758.0,166525.0,NaN
3,Pre-tax pre-provision profit2,27035.0,17163.0,25408.0,69606.0,-0.672688
4,Provision for credit losses3,5399.0,1534.0,-4155.0,2778.0,-0.902829
5,Wells Fargo net income,19142.0,13677.0,22109.0,54928.0,-0.291955
6,Wells Fargo net income applicable to common stock,17982.0,12562.0,20818.0,51362.0,2.330617
7,COMMON SHARE DATA,NaN,NaN,NaN,0.0,-0.060600
8,Diluted earnings per common share,483.0,327.0,508.0,1318.0,-0.973140
9,Dividends declared per common share,130.0,110.0,60.0,300.0,-0.992771
10,Common shares outstanding,35989.0,38338.0,38858.0,113185.0,73.511387
11,Average common shares outstanding,36883.0,38052.0,40619.0,115554.0,282.715385
12,Diluted average common shares outstanding,37204.0,38370.0,40962.0,116536.0,0.033760
13,Book value per common share4,4625.0,4198.0,4326.0,13149.0,-0.874603
14,"Tangible book value per common share4, 5",3923.0,3498.0,3629.0,11050.0,-0.894554
15,SELECTED EQUITY DATA (PERIOD-END),NaN,NaN,NaN,0.0,-0.151784
16,Total equity,187443.0,182213.0,189889.0,559545.0,46.780525
17,Common stockholders’ equity,166444.0,160952.0,168111.0,495507.0,41.427734
18,Tangible common equity5,141193.0,134090.0,141034.0,416317.0,-0.246742
19,PERFORMANCE RATIOS,NaN,NaN,NaN,0.0,-0.151709